
.curso {
    display: flex;
    justify-content: center;
    width: 200px;
    border: 4px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 5px 0px;
    cursor: pointer;
}

.curso:hover {
    border-color: red;
}

.c1 {
    background-color: darkgray;
    color: dimgray;
}

.c2 {
    background-color: dimgrey;
    color: darkgray;
}

.destaque {
    background-color: purple !important;
    color: white !important;
    border-color: black !important;
}